* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #E5E7EB;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.top {
    background-color: #1F2937;
}

.header {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.right-links {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-right: 12px;
}

.initial-content {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;

}

.main-left {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.textone {
    font-size: 18px;
    color: #E5E7EB;
}

.main-right img {
    width: 450px;
    height: 250px;
}

.button {
    background-color: #3882f6;
    border-radius: 15px;
    max-width: 128px;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 4px 16px;
    margin-top: 12px;
}

.titletwo {
    text-align: center;
    padding-top: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container-two {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    max-width: 200px;
    margin-top: 32px;
}

.imgtext {
    margin: 12px 0 64px 0;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.quotesec {
    background-color: #E5E7EB;
}

.quote {
    padding: 64px 0 32px 0;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;

}

.container-three {
    max-width: 1100px;
    margin: 0 auto;
}

.quotecont {
    display: flex;
    justify-content: flex-end;
}

.credit {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    margin-bottom: 64px;
}

.container-four {
    max-width: 1100px;
    margin: 0 auto;
}

.call {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 48px 96px;
    margin: 64px 0;
    border-radius: 32px;
}

.titlecall {
    color: #F9FAF8;
}

.calltext {
    color: #E5E7EB;
    font-size: 18px;
}

.footer {
    text-align: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937;
    padding: 24px
}

.right-call {
    color: #F9FAF8;
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-radius: 15px;
    border-width: 4px;
    padding: 2px 32px;
    font-size: 18px;
    font-weight: bold;
}


